@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --charcoal-black: #141414;
    --light-gray: #999999;
    --dark-grey: #262626;
    --eerie-black: #1A1A1A;
    --green-matcha: #6F9827;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--light-gray);
    font-family: 'Urbanist', sans-serif;
}


body {
    background-color: var(--charcoal-black) !important;
}

/*** Navbar ***/
.navbar .navbar-nav {
    display: flex;
    margin-right: 1px;
    gap: 15px;
}

.navbar .navbar-nav .nav-link {
    padding: 10px 15px !important;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    border: 2px solid transparent;
}

.nav-item {
    white-space: nowrap;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    background-color: #141414;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    border: 2px solid var(--light-gray);
}

.icon {
    font-size: 40px;
}

.icon img {
    width: 40px;
    height: 40px;
}

.contact-button {
    display: flex;
    justify-content: center;
    margin-right: 10rem;
    margin-left: auto;
    background: #141414;
    height: 40px;
    border-radius: 10px;
    border-color: var(--light-gray);
}

#items-width {
    width: 32rem;
}

.contact-button:hover {
    background-color: var(--green-matcha);
    color: white;
    border-color: #6c757d;
    transition: all 0.3s ease;
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    color: var(--light);
    font-weight: 500;
}

.navbar.sticky-top {
    top: -100px;
    transition: 0.5s;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M6 6l18 18M6 24L24 6'/%3E%3C/svg%3E");
}

.navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 991.98px) {
    .navbar {
        margin: auto;
    }

    .navbar .navbar-nav .nav-link {
        color: white;
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .nav-link.active {
        width: 50%;
        background-color: #141414;
        color: white;
        border-radius: 5px;
        height: auto;
        margin: auto;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #eeeeee;
    }

    .icon {
        font-size: 30px;
    }

    .icon img {
        width: 30px;
        height: 30px;
    }

    .contact-button {
        margin-right: auto;
        margin-left: auto;
        width: 40%;
        margin-bottom: 10px;
    }
}
/* hero section */

#hero-carousel-section {
    padding-top: 100px;
    height: max-content;
}

#hero-carousel-section .container .title-group .title-location h1.title {
    font-weight: 600;
    color: white;
    font-size: 28px;
}

#hero-carousel-section .container .title-group .title-location .location {
    border: 1px solid var(--dark-grey);
    background-color: var(--charcoal-black);
    padding: 2px 8px !important;
    border-radius: 4px;
    margin-top: 10px !important;
}

#hero-carousel-section .container .title-group .title-location .location p {
    font-weight: 500;
    color: white;
}

#hero-carousel-section .container .slider-carousel {
    background-color: var(--charcoal-black);
    border: 2px solid var(--dark-grey) !important;
    height: max-content;
    padding: 40px 16px !important;
    margin-top: 60px;

}

#hero-carousel-section .container .slider-carousel .owl-carousel .item img {
    width: 500px;
    /* Ensures the image width is 500px */
    height: auto;
    /* Maintains aspect ratio */
}

#description-product-section {
    padding-bottom: 100px;
    margin-top: 40px;
    height: max-content;
}

#description-product-section .container .row .col-lg-6 .content {
    border: 1px solid var(--dark-grey);
    background-color: var(--charcoal-black);
    padding: 40px;
}


#description-product-section .container .row .col-lg-6:first-child .content h5,
#description-product-section .container .row .col-lg-6:last-child .content h5 {
    font-size: 22px;
    color: white;
    font-weight: 600;
}

#description-product-section .container .row .col-lg-6:first-child .content p.subtitle {
    margin-top: 1rem !important;
    font-size: 16px;
    padding-bottom: 40px !important;
    border-bottom: 2px solid var(--dark-grey);
}

#description-product-section .container .row .col-lg-6:first-child .content .row .col-lg-4 p.harga {
    color: white;
    font-weight: 800;
    font-size: 18px;
}

#description-product-section .container .row .col-lg-6:last-child .content .row .col-lg-12 {

    padding: 10px;
    border-left: 2px solid var(--green-matcha);
    background: linear-gradient(to left, #1A1A1A00, #1A1A1A);
    margin-bottom: 20px !important;
}

/* end deskripsi */



/* section modal  */

main #modal-section {
    padding: 100px 0 !important;
    height: max-content;
}

main #modal-section .container .bintang {
    width: 52px;
    position: relative;
    right: 12px;
}

main #modal-section .container h1 {
    color: white;
    font-weight: 600;
    font-size: 36px;
}

/* join plantify section style*/
main #join-plantify-section {
    height: max-content;
    padding: 40px 0;
    background-image: url(../img/bg-images.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main #join-plantify-section .container .row div:first-child h1.title {
    color: white !important;
    font-weight: 600 !important;
    font-size: 36px;
}

main #join-plantify-section .container .row div:last-child a.btn {
    background-color: var(--green-matcha) !important;
    border: 1px solid var(--green-matcha);
    color: white;
}

main #join-plantify-section .container .row div:last-child a.btn:hover {
    background-color: var(--dark-grey) !important;
    border: 1px solid var(--dark-grey);
    color: white;
}

main #modal-section .container .noted-group {
    border: 1px solid var(--dark-grey);
    background-color: var(--eerie-black);
    padding: 24px !important;
    border-radius: 8px;
    margin-top: 66px !important;
}

main #modal-section .container .noted-group h5 {
    font-size: 22px;
    color: white;
    font-weight: 600;
    border-right: 2px solid var(--dark-grey);
    padding-right: 10px !important;
}

main #modal-section .container .noted-group p {
    padding-left: 10px !important;
}


main #modal-section .container .row .col-xl-2 h5 {
    color: white;
    font-size: 22px;
    margin-top: 6px !important;

}

main #modal-section .container .row .col-xl-10 .content-aloka-modal,
main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain {
    border: 1px solid var(--dark-grey);
    background-color: var(--charcoal-black);
    padding: 40px !important;
    border-radius: 8px;

}


main #modal-section .container .row .col-xl-10 .content-aloka-modal .title-aloka-group,
main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain .title-aloka-group {
    border-bottom: 2px solid var(--dark-grey);
    padding-bottom: 30px !important;
}

main #modal-section .container .row .col-xl-10 .content-aloka-modal .title-aloka-group p,
main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain .title-aloka-group p {
    font-size: 18px !important;
    font-weight: 600;
}

main #modal-section .container .row .col-xl-10 .content-aloka-modal .title-aloka-group a.btn-primary,
main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain .title-aloka-group a.btn-primary {
    font-size: 16px !important;
    background-color: var(--eerie-black) !important;
    border: 2px solid var(--dark-grey) !important;
    font-weight: 500;
}


.border-l {
    border-right: 2px solid var(--dark-grey);
}

.border-b {
    border-bottom: 2px solid var(--dark-grey);
}

main #modal-section .container .row .col-xl-10 .content-aloka-modal .row .col-lg-6 h5,
main #modal-section .container .row .col-xl-10 .content-aloka-modal .col-lg-12 h5,
main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain .col-lg-12 h5 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px !important;
}

main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain .col-lg-12 .harga-aloka p.btn-primary {
    background-color: var(--eerie-black);
    border: 2px solid var(--dark-grey);
    border-radius: 20px !important;
    color: var(--light-gray);
}

footer {
    padding-top: 100px;
}

footer .content-footer .container .row div:first-child .logo-plantify h1 {
    font-size: 28px;
    padding-left: 10px !important;
    color: white;
    font-weight: 600;
}

footer .content-footer .container .row div:first-child .send-feedback {
    background-color: var(--charcoal-black);
    border: 1px solid var(--dark-grey);
    height: max-content !important;
}

footer .content-footer .container .row div:first-child .send-feedback form div span,
footer .content-footer .container .row div:first-child .send-feedback form div input {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

footer .content-footer .container .row div:first-child .send-feedback form div input::placeholder,
footer .content-footer .container .row div:first-child .send-feedback form div input {
    color: var(--light-gray) !important;
}

footer .content-footer .container .row div:last-child .row .col-lg-2 p {
    color: white !important;
}

footer .copyright {
    background-color: var(--eerie-black);
    margin-top: 50px;
    padding: 20px;
}

footer .copyright .container .row .col-6 p {
    color: white;
}

.b-r {
    border-right: 2px solid #262626;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
}

@media screen and (max-width: 480px) {

    footer .content-footer,
    footer .copyright {
        padding: 32px !important;
    }

    main #hero-carousel-section,
    main #description-product-section,
    main #modal-section,
    main #join-plantify-section {
        padding: 30px 30px !important;
        margin: 0 !important;
    }

    main #hero-carousel-section {
        padding-bottom: 3rem !important;
    }

    main #description-product-section {
        padding-top: 0 !important;
    }

    #hero-carousel-section .container .title-group .title-location .location p {
        font-size: 14px;
    }


    main .hero-carousel-section .container .title-group {
        flex-wrap: wrap;
    }

    #hero-carousel-section .container .slider-carousel .owl-carousel .item img {
        width: 90%;
        height: auto;
    }

    .border-r-sm,
    .border-b,
    .border-l {
        border: none !important;
    }

    main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain .col-lg-12 .harga-aloka {
        flex-wrap: wrap;
    }

    main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain .col-lg-12 .harga-aloka p.btn-primary {
        margin: 0px !important;
        margin-top: 30px !important;
        padding: 10px 12px;
        text-align: left;
    }

    #hero-carousel-section .container .title-group .title-location h1.title {
        font-size: 20px;
    }

    main #modal-section .container h1 {
        font-size: 24px !important;
    }

    main .hero-carousel-section .container .title-group .title-modal h5 {
        font-size: 20px;
    }

    main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain .title-aloka-group p,
    main #modal-section .container .row .col-xl-10 .content-aloka-modal .title-aloka-group p {
        font-size: 18px !important;
    }

    main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain .title-aloka-group a.btn-primary,
    main #modal-section .container .row .col-xl-10 .content-aloka-modal .title-aloka-group a.btn-primary {
        font-size: 14px !important;
    }

    main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain .col-lg-12 h5,
    main #modal-section .container .row .col-xl-10 .content-aloka-modal .row .col-lg-6 h5,
    main #modal-section .container .row .col-xl-10 .content-aloka-modal .col-lg-12 h5 {
        font-size: 16px;
    }

    #description-product-section .container .row .col-lg-6 .content {
        padding: 30px !important;
    }

    #description-product-section .container .row .col-lg-6:last-child .content h5,
    #description-product-section .container .row .col-lg-6:first-child .content h5 {
        font-size: 20px;
    }

    main #modal-section .container .noted-group h5 {
        font-size: 20px;
        border: none !important;
    }

    main #modal-section .container .noted-group {
        padding: 16px !important;
        flex-wrap: wrap;
        margin-top: 3rem !important;

    }

    main #modal-section .container .noted-group p {
        padding: 0px !important;
        margin-top: 10px !important;
    }

    main #modal-section .container .row .col-xl-2 h5 {
        font-size: 20px;
    }

    main #modal-section .container .row .col-xl-10 .content-aloka-modal,
    main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain {
        padding: 20px !important;
    }

    main #join-plantify-section .container .row div:first-child h1.title {
        font-size: 24px !important;
    }

}

@media screen and (min-width: 480px) and (max-width: 576px) {

    footer .content-footer,
    footer .copyright {
        padding: 32px !important;
    }

    main #hero-carousel-section,
    main #description-product-section,
    main #modal-section,
    main #join-plantify-section {
        padding: 32px !important;
    }


    main .hero-carousel-section .container .title-group {
        flex-wrap: wrap;
    }

    #hero-carousel-section .container .slider-carousel .owl-carousel .item img {
        width: 90%;
        height: auto;
    }

    .border-r-sm,
    .border-b,
    .border-l {
        border: none !important;
    }

    main #modal-section {
        padding-top: 0px !important;
    }

    main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain .col-lg-12 .harga-aloka {
        flex-wrap: wrap;
    }

    main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain .col-lg-12 .harga-aloka p.btn-primary {
        margin: 0px !important;
        margin-top: 30px !important;
        padding: 10px 12px;
        text-align: left;
    }

    #hero-carousel-section .container .title-group .title-location h1.title {
        font-size: 24px;
    }

    main #modal-section .container h1 {
        font-size: 28px !important;
    }

    main .hero-carousel-section .container .title-group .title-modal h5 {
        font-size: 22px;
    }

    main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain .title-aloka-group p,
    main #modal-section .container .row .col-xl-10 .content-aloka-modal .title-aloka-group p {
        font-size: 22px !important;
    }

    main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain .title-aloka-group a.btn-primary,
    main #modal-section .container .row .col-xl-10 .content-aloka-modal .title-aloka-group a.btn-primary {
        font-size: 20px !important;
    }

    main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain .col-lg-12 h5,
    main #modal-section .container .row .col-xl-10 .content-aloka-modal .row .col-lg-6 h5,
    main #modal-section .container .row .col-xl-10 .content-aloka-modal .col-lg-12 h5 {
        font-size: 18px;
    }

}

@media screen and (min-width: 576px) and (max-width: 768px) {

    main .hero-carousel-section .container .title-group {
        flex-wrap: wrap;
    }

    #hero-carousel-section .container .slider-carousel .owl-carousel .item img {
        width: 90%;
        height: auto;
    }

    .border-r-sm,
    .border-b,
    .border-l {
        border: none !important;
    }

    main #modal-section {
        padding-top: 0px !important;
    }

    main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain .col-lg-12 .harga-aloka {
        flex-wrap: wrap;
    }

    main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain .col-lg-12 .harga-aloka p.btn-primary {
        margin: 0px !important;
        margin-top: 30px !important;
        padding: 10px 12px;
        text-align: left;
    }

}

@media screen and (min-width: 769px) and (max-width: 992px) {

    main .hero-carousel-section .container .title-group {
        flex-wrap: wrap;
    }

    #hero-carousel-section .container .slider-carousel .owl-carousel .item img {
        width: 90%;
        height: auto;
    }

    .border-r-sm,
    .border-b,
    .border-l {
        border: none !important;
    }

    main #modal-section {
        padding-top: 0px !important;
    }

    main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain .col-lg-12 .harga-aloka {
        flex-wrap: wrap;
    }

    main #modal-section .container .row .col-xl-10 .content-aloka-lain-lain .col-lg-12 .harga-aloka p.btn-primary {
        margin: 0px !important;
        margin-top: 30px !important;
    }

}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    #hero-carousel-section .container .slider-carousel .owl-carousel .item img {
        width: 400px;
        height: auto;
    }

    .border-r-sm {
        border: none !important;
    }
}

.owl-theme .owl-nav {
    display: none !important;
}

.owl-theme .owl-dots {
    display: none !important;
}